section {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1,
h2 {
    padding-bottom: 20px;
}

.img-1 {
    filter: grayscale(1);
    transition: 0.5s ease-in-out;
}

.img-1:hover {
    filter: grayscale(0);
    transition: 0.5s ease-in-out;
}

.carousel-control-prev-icon {
    background-image: url('./img/arrow-circle-left.svg');
}

.carousel-control-next-icon {
    background-image: url('./img/arrow-circle-right.svg');
}

.carousel-control-prev {
    left: -50px;
}

.carousel-control-next {
    right: -50px;
}

.my-carousel1 {
    padding: 0;
}

.my-carousel1 .carousel-item {
    display: flex;
    max-height: 700px;
}

.my-carousel1 .carousel-item img {
    object-fit: cover;
}

.carousel-feed img {
    max-height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.carousel-feed h5 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.mail a {
    text-decoration: none;
    color: black;
}

footer a {
    color: black;
    text-decoration: none;
}
